<!DOCTYPE html>
<html>
    <head>
    
    <style>
        .error {color: red;}
    </style>
    </style>
    </head>
    <body>
    <h1><h1><nav><a href="/">Main Page</a></nav> </h1>
    <h1><h1><nav><a href="/blog">Blogs</a></nav> </h1>
    <h1><nav><a href="/newpost">Add New Blog</a></nav></h1></h1>
    <h1><nav><a href="/logout">Logout</a></nav></h1></h1>
    <h1><nav><a href="/login">Login</a></nav></h1></h1>

    <label>:
    </label>
    {% block content %}
    {% endblock %}

</body>
</html>